.app-toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.app-toolbar__menu {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.app-toolbar__socials {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.app-toolbar__socials > *:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}
