.app-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.app-header__socials > *:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}
